@import '../../../variables.scss';
.card {
    width: 75%;
    margin: auto auto;
    padding: 0;
    background-color: #f7f7f7;
    height: 85px;
    margin-top: -60px;
    .cardTitle {
        text-align: center;
        img {
            margin-top: 4px;
            width: 120px;
            height: 75px;
        }
    }
}

.divProdutos {
    overflow-y: auto;
    overflow-x: hidden;
    height: 73vh;
}

.btnCarrinho{
    width: 90%;
    position: fixed;
    bottom: 8px;
    left: 5%;
    z-index: 999;
}

@media (min-width: 768px) {
    .divProdutos {
        height: 75vh;
    }
    .cardProduto {
        width: 200px;
        height: 220px;
        img {
            height: 160px;
        }
    }
}

@media (max-width: 768px) {
    .card {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
}
