.btnPedir {
    width: 95%;
    left: 2.5%;
    z-index: 999;
}
.rowBtn {
    position: sticky;
    bottom: 0px;
    width: 100%;
    background-color: white;
}
.form mat-form-field {
    width: 100%;
}
