<mat-toolbar style="background-color:#E91E63" class="menu" *ngIf="app.deviceWidth < 768">
    <a mat-dialog-close>
        <mat-icon matSuffix style="vertical-align: sub; margin-right: 16px;">arrow_back</mat-icon>
    </a>
    <span>Carrinho</span>
</mat-toolbar>
<h1 mat-dialog-title *ngIf="app.deviceWidth >= 768">
    <button mat-dialog-close mat-icon-button color="accent" aria-label="Example icon button with a menu icon">
        <mat-icon style="vertical-align: sub;">arrow_back_ios_new</mat-icon>
    </button>
    Carrinho
</h1>
<app-lista-produtos-carrinho [lstProdutos]="lstProdutos" (atualizaInfoProdutos)="listarInformacoesProdutos()">
</app-lista-produtos-carrinho>
<br>
<div class="row" *ngIf="lstProdutos.length > 0 && taxaEntrega">
    <mat-icon class="iconCupom">redeem</mat-icon>
    <button mat-raised-button color="accent" class="btnCupom" (click)="modalCupom()">Adicionar Cupom de
        Desconto</button>
</div>
<mat-list>
    <mat-list-item>
        <div mat-line>
            <span style="font-weight: 600;">Tempo Estimado:</span>
            <span style="float: right;">{{tempoEstimado}} dias úteis</span>
        </div>
    </mat-list-item>
    <mat-list-item>
        <div mat-line>
            <span style="font-weight: 600;">Data Estimada:</span>
            <span style="float: right;">{{dataEstimada}}</span>
        </div>
        <div mat-line>
            <p style="white-space: break-spaces;">Tempo pode variar de acordo com a quantidade de pedidos.</p>
        </div>
    </mat-list-item>
    <mat-list-item *ngIf="taxaEntrega && taxaEntregaNumber > 0">
        <div mat-line>
            <span style="font-weight: 600;">Subtotal:</span>
            <span class="valor">
                {{ (valorDesconto? ((total - taxaEntregaNumber) + valorDesconto) : (total -
                taxaEntregaNumber)) | currency:'BRL':'symbol':'1.2-2' }}
            </span>
        </div>
    </mat-list-item>
    <mat-list-item *ngIf="taxaEntrega">
        <div mat-line>
            <span style="font-weight: 600;">Taxa de Entrega:</span>
            <span class="valor">{{ taxaEntrega }}</span>
        </div>
    </mat-list-item>
    <mat-list-item *ngIf="valorDesconto">
        <div mat-line>
            <span style="font-weight: 600;">Desconto:</span>
            <span class="valor">- {{ valorDesconto | currency:'BRL':'symbol':'1.2-2'}}</span>
        </div>
    </mat-list-item>
    <mat-list-item>
        <div mat-line>
            <span style="font-weight: 600;">Total a pagar:</span>
            <span class="valor">{{ total | currency:'BRL':'symbol':'1.2-2' }}</span>
        </div>
    </mat-list-item>
</mat-list>
<div class="rowBtn">
    <button *ngIf="lstProdutos.length > 0 && !taxaEntrega" mat-raised-button color="accent" class="btnPedir"
        (click)="modalEndereco()">
        Preencher Endereço
    </button>
    <button *ngIf="lstProdutos.length > 0 && taxaEntrega" mat-raised-button color="accent" class="btnPedir"
        (click)="fazerPedido()">
        Fazer Pedido
    </button>
</div>