@import "../variables.scss";

.geral {
    background: rgb(218, 255, 253);
    background: linear-gradient(
        180deg,
        rgba(218, 255, 253, 1) 0%,
        rgba(255, 255, 255, 1) 32%,
        rgba(255, 255, 255, 1) 44%,
        rgba(255, 255, 255, 1) 58%,
        rgba(255, 249, 251, 1) 74%,
        rgba(255, 235, 243, 1) 100%
    );
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    overflow: hidden;
    padding: 12px;
    zoom: 1;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 90%;
    height: 80vh;
    position: absolute;
    top: $altura-menu + 20px;
}

.mostrarMenu {
    padding-top: $altura-menu!important;
}

.rowMenuLinks {
    width: 100%;
    .menuLink {
        margin-left: 36px;
        text-decoration: unset;
        font-size: 14pt;
        color: teal;
        padding-bottom: 4px;
        mat-icon {
            vertical-align: sub;
            margin-right: 8px;
        }
    }

    .menuLink:hover span,
    .menuLink:hover {
        color: #e91e63 !important;
    }
}

.active,
.active span {
    color: #e91e63 !important;
}

.menu {
    height: $altura-menu;
    border-bottom: 3px solid #009688;
    background-color: #f8f8f8;

    span,
    button {
        color: #009688;
    }

    .logo {
        width: 76px;
        height: 56px;
    }
}

@media (max-width: 767px) {
    .geral {
        padding: 0;
    }
    .card {
        width: 100%;
        height: 85vh;
        top: $altura-menu;
    }
    .menu {
        border-bottom: none;
        background-color: #009688;

        span,
        button {
            color: white;
        }
    }
}
