<mat-toolbar class="menu" color="primary" *ngIf="mostrarMenu">
    <a (click)="sair()">
        <mat-icon matSuffix style="vertical-align: sub; margin-right: 16px;">arrow_back</mat-icon>
    </a>
    <span>Administrador SilFazendoArte</span>
</mat-toolbar>
<div class="geral">
    <mat-card class="card"
        [ngStyle]="!mostrarMenu? {'background-color': 'transparent', 'box-shadow': 'none', 'margin-top': '40px'} : {'background-color': '#FAFAFA', 'margin-top': '100px'}">
        <router-outlet></router-outlet>
    </mat-card>
</div>