.cardProduto {
    background-color: white;
    border-radius: 12px;
    width: 150px;
    padding: 0;
    height: 180px;
    cursor: pointer;
    img {
        width: 100%;
        border-radius: 12px 12px 0 0;
        height: 120px;
    }
    .cardContent {
        span {
            font-size: 11pt;
        }
        padding: 8px;
    }
}

.nomeProduto {
    font-weight: 600;
    width: 120px;
    overflow-x: hidden;
    white-space: nowrap;
    display: inline-block;
    text-overflow: ellipsis;
}

.cardProduto:hover {
    transform: scale(1.05, 1.05);
}

@media (min-width: 1100px) {
    .cardProduto {
        width: 140px;
        height: 200px;
        img {
            height: 140px;
        }
        .cardContent {
            span {
                font-size: 11pt;
            }
            padding: 8px;
        }
    }
}

@media (min-width: 1600px) {
    .cardProduto {
        width: 180px;
        height: 230px;
        img {
            height: 140px;
        }
        .cardContent {
            span {
                font-size: 11pt;
            }
            padding: 8px;
        }
    }
}